auto-save-list
eshell
savefile
tramp
semanticdb
el-get
elpa
deft
url
*.elc
games
.DS_Store
.yas-compiled-snippets.el
personal/*

# stored in external repositories
vendor/athinput-mode
vendor/nero-ads/
vendor/loaddefs.el
/vendor/bibslurp/

